# API Backend
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1

# WebSocket URL
NEXT_PUBLIC_WS_URL=ws://localhost:8080

# Configuración de la aplicación
NEXT_PUBLIC_APP_NAME="ElProducto"
NEXT_PUBLIC_APP_VERSION="1.0.0"
